# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# Node.js (React)
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

# Environment variables ?
# .env